<div class="main">
  <aside>
    <div class="presentacion">
      <h1>{{nombre}}</h1>
      <h4>{{puesto}} </h4>
    </div>

    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias officiis iusto, facilis cum
      reprehenderit placeat excepturi. Numquam excepturi a vitae harum? Beatae enim eius dicta sint, ex inventore non
      ipsa qui. Obcaecati.</p>

    <h2>Contacto</h2>
    <p>{{ciudad}}</p>
    <p>{{telefono}}</p>
    <p>{{['correo electronico']}} </p>
    <p>{{github}} </p>

    <h2>Idiomas</h2>
    <p>{{idiomas.at(0)}} </p>
    <p>{{idiomas.at(1)}} </p>
    <p>{{idiomas.at(2)}} </p>

    <h2>Cualidades</h2>
    <p></p>
    <p></p>
    <p></p>
  </aside>
  <main>

    <h2>Experiencia</h2>
    <div>
      <h3>Business as an Art</h3>
      <!-- Imagen -->
      <p class="tiempo">3 meses</p>
      <p class="resumen">Investigación de IA y Diseño de páginas web</p>
    </div>

    <div>
      <h3>LDQuantum</h3>
      <!-- Imagen -->
      <p class="tiempo">3 meses</p>
      <p class="resumen">Gestión de errores y Diseño de páginas web</p>
    </div>

    <h2>Formación</h2>
    <h3>Sistemas Microinformáticos y Redes</h3>
    <p class="lugar">CPIFP Alan Turing</p>
    <p class="tiempo">2 años</p>

    <h3>Desarrollo de Aplicaciones Multiplataforma</h3>
    <p class="lugar">CPIFP Alan Turing</p>
    <p class="tiempo">2 años</p>

    <h2>Tecnologías</h2>
    <ul>
      <li>HTML5</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>SQL</li>
    </ul>
  </main>
</div>
<footer>
  <p>Currículum desarrollado con Angular</p>
</footer>